###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [12]:
n = [1,2,3,4]
n

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [18]:
# Method 1
n = [1,2,3,4]
n.remove(3)
n

[1, 2, 4]

In [19]:
# Method 2
n = [1,2,3,4]
n.pop(2)
n

[1, 2, 4]

In [21]:
# Method 3
n = [1,2,3,4]
del n[2]
n

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [31]:
lst = [2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [32]:
lst

[1, 2, 3, 4]

In [33]:
lst.insert(2,'two-and-half')
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [145]:
# CODE HERE
p="Don't panic!"
a= list(p.strip())
a

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [146]:
a

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [147]:
a.remove("'")
a

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [148]:
a.remove("!")
a

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [149]:
# CODE HERE
a.remove('D')
a

['o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [150]:
a.remove('p')
a

['o', 'n', 't', ' ', 'a', 'n', 'i', 'c']

In [151]:
a.remove('a')
a

['o', 'n', 't', ' ', 'n', 'i', 'c']

In [152]:
a.remove('n')
a

['o', 't', ' ', 'n', 'i', 'c']

In [155]:
b=["p","a","n","D"]
a.extend(b)
a

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [159]:
a=['p', 'a', 'n', 'D', 'a']
"".join(a)

'panDa'

In [ ]:
# CODE HERE

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [163]:
# CODE HERE
a = (31,24,35,85)
print("data type",type(a))
print(a)

data type <class 'tuple'>
(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [173]:
# CODE HERE
a = (31,24,35,85)
b = a[:2] + a[3:]
b

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [175]:
c= (85,19)
d = (b)+(c)
d

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [177]:
# CODE HERE
a=('i','n''n','0')
for j in a:
    if j == ("i"):
        print("true")

true

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [184]:
# CODE HERE
a=['Hello',100,[],'innomatics']
a[2]= [200]
a

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [3]:
# CODE HERE
t= ("Innomatics")
t2 = reversed(t)
print(tuple(t2))

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [214]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [1]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
t1=[]
for i in tpl:
    a=list(i)
    a.append(100)
    t2=tuple(a)
    t1.append(t2)
t1

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [8]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [21]:
t1=[]
for i in tpl:
    a=list(i)
    a[2]=100
    t2=tuple(a)
    t1.append(t2)
t1

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [53]:
# CODE HERE
a= '523665'
x=list(a)
x.sort()
y=set(x)
z=list(y)
z[-2]

'5'

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [61]:
# CODE HERE
a=[12,24,35,70,88,120,155]
a = [x for (i,x) in enumerate(a) if i not in (0,4,5)]
a

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [65]:
t=(1,2,3,4,5,6,7,8,9,10)
t1=t[:5]
t2=t[5:]
print(t1,t2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [67]:
for i in range(1,11):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution
List define with the [] and the tuple define with (),
Both list and tuples allows duplicate values.
lists are mutable and tuples immutable
both list and tuples are hetrogenius

### 2. Explain the difference between append() and extend() with examples

In [14]:
# Solution
#append() can add only one element to the list at a time.

a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [15]:
#extend() can add no. of elements to the list at a time.
a.extend([5,6,7])
a

[1, 2, 3, 4, 5, 6, 7]

### 3. Explain the difference between pop() and remove() with examples

In [16]:
# Solution
#remove() is used to remove a element from the list if the value is known but not its index.
a.remove(5)
a

[1, 2, 3, 4, 6, 7]

In [17]:
#pop() is used to remove a element from the list by giving the index.
a.pop(2)
a

[1, 2, 4, 6, 7]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)