###  Sets

**`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [4]:
s = {1 , 2 , 'innomatics', 'hub'}
s

{1, 2, 'hub', 'innomatics'}

In [5]:
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [6]:
# CODE HERE
s.add('Technology')
s

{1, 2, 'Technology', 'hub', 'innomatics'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [7]:
# CODE HERE
sc = {3,4, 'hub', 'Technology'}
sc

{3, 4, 'Technology', 'hub'}

In [8]:
sc

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [9]:
# CODE HERE
s-sc

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [10]:
s.remove(2)
print(s)

{1, 'Technology', 'innomatics', 'hub'}

In [11]:
# CODE HERE

In [12]:
s

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [13]:
# CODE HERE
sc&s

{'Technology', 'hub'}

> **`Question:`Print all element in two sets**

s union sc

In [22]:
# CODE HERE
s|sc

{1, 2, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [33]:
# CODE HERE
fruits = {"orange",'apple','kiwi'}
colors = ['orange','red','green']
set(colors)
fruits.union(colors)

{'apple', 'green', 'kiwi', 'orange', 'red'}

In [2]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [34]:
# CODE HERE
set1 = {10, 20, 30, 40, 50}
set2 = {10, 20, 30}
set1 - set2

{40, 50}

{40, 50}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)