# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [30]:
# CODE HERE
person1 = {'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [7]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [4]:
# CODE HERE
a=person1.keys()
list(a)

['Gender', 'Location', 'Name', 'Occupation']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [31]:
# CODE HERE
person1.pop('Location')
person1.update({"age":27})
person1

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'age': 27}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [32]:
# CODE HERE
person2 = {'Age': 25,'Gender': 'Male','Name': 'Raghu Ram','Occupation': 'Data Scientist'}
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [55]:
# CODE HERE
print('==================== person1 ====================')
print(person1)
print('==================== person2 ====================')
print(person2)

==================== person1 ====================
{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'age': 27}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [46]:
# CODE HERE
a={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
a.pop(3)
a

{1: 1, 2: 4, 4: 16, 5: 25, 6: 36, 7: 49}

In [48]:
a.popitem()
a

{1: 1, 2: 4, 4: 16, 5: 25, 6: 36}

In [49]:
a.clear()
a

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [70]:
# CODE HERE
b={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
a=list(b.values())
a.reverse()
a

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [3]:
# CODE HERE

In [72]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict4=dict1|dict2|dict3
print(dict4)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

In [73]:
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [76]:
# CODE HERE
sample_dict= {'emp1': {'name': 'Jhony', 'salary': 7500},'emp2': {'name': 'Ravi', 'salary': 8000},'emp3': {'name': 'Charan', 'salary': 6500}}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

In [4]:
sampleDict = {"class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}}}

In [79]:
# CODE HERE
print(sampleDict["class"]["student"]["marks"]["history"])

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

In [84]:
a={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [85]:
# CODE HERE
a["area"]=a.pop("Location")
print(a)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [1]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
a=input()
b=int(input())
key=list(database.keys())
value=list(database.values())
if a in key:
    i=key.index(a)
    print(value[i])
    if a==key[i] and b==value[i]:
        print('hello',a)
else:
    print("you want me to add into the database? yes/no:")
    given=input()
    if given=="yes":
        key.append(a)
        value.append(b)
        res=dict(zip(key,value))
        print(str(res))
        
    else:
        print('THANK YOU')

ram
1234
1234
hello ram

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)