# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [69]:
a = input("enter your name:")
print("my name is"" " +a)

enter your name:sai praveen
my name is sai praveen

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [73]:
"""
vairable is used to store the different types of datas.
we can give the variable by using numbers,alphbets and underscores
we cannot give only number as a variables or else at the starting of the variable
we cannot give spare between the variable insted of that we can give underscore(_) between the variables
"""

'\nvairable is used to store the different types of datas.\nwe can give the variable by using numbers,alphbets and underscores\nwe cannot give only number as a variables or else at the starting of the variable\nwe cannot give spare between the variable insted of that we can give underscore(_) between the variables\n'

In [71]:
m_t = 10
t1 = "yes"
print(m_t,t1)

10 yes

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [18]:
w = 17
h =12
print(w/2,type(w))
print(w/2.0,type(w))
print(h/3,type(h))
a=1+2*5
print(a,type(a))
delimiter="."*5
print(delimiter,type(delimiter))

8.5 <class 'int'>
8.5 <class 'int'>
4.0 <class 'int'>
11 <class 'int'>
..... <class 'str'>

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [1]:
a= 100
b= 200
print(a+b)

300

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [22]:
a = "Sachin"
b = "Tendulkar"
print(a +" "+ b)

Sachin Tendulkar

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

In [24]:
a = [10,'10',True,10.5]
print(a)

[10, '10', True, 10.5]

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [36]:
a = [10,'10',True,10.5]
for i in a:
    print(i,type(i))

10 <class 'int'>
10 <class 'str'>
True <class 'bool'>
10.5 <class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [38]:
num_int = 123
num_str = "456"
num_str = int("456")
print(num_int+num_str)

579

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [56]:
r=5
v = ((4/3)*3.14*r**3)
print(v)

523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [61]:
x=24.95
y=40/100
z= no_of_books=60
a = actual_price = (x-(x*y))*z
print(a)

898.1999999999999

In [62]:
print((a+3)+(z-1)*0.75)

945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)