# IF , ELSE.... FOR LOOP

> print this is hour in current minute is odd

In [5]:
#CODE HERE
num = int(input("enter the minute:"))

if num%2!=0:
    print("Odd Value")
else:
    print("even value")

enter the minute:53
Odd Value

> if today is satarday then print 'Party !!!' or if sunday print take rest other wise print work , work, work

In [11]:
#CODE HERE
day= (input("enter the day:"))
day=day.upper()
if day=="SUNDAY":
    print("Take Rest")
elif day =="SATURDAY":
    print("Party!!!")
else:
    print("working Day")

enter the day:saturday
Party!!!

> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [30]:
#CODE HERE
num=[]
for i in range(2000,3201):
    if (i%7==0) & (i%5!=0):
        num.append(str(i))
print(",".join(num))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [14]:
#CODE HERE

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

> Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [35]:
#CODE HERE
num=int(input("enter the value:"))
fact=1
for i in range(1,num+1):
    fact*=i
fact

enter the value:8

40320

> With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

*Hint* : use dict()

In [16]:
#CODE HERE

Enter the value: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [37]:
n=int(input("enter the number:"))
d=dict()
for i in range(1,n+1):
    d[i]=i*i
print(d)

enter the number:8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

> create user defined fuction for 
- addition "add"
- subtraction "sub"
- multiplication "mul"
- division "div"
- power "pow"

In [18]:
#CODE HERE

Please enter the value : 8
Please enter the value : 6
Enter the keyword {add, sub, mul, div, pow}:pow
==============================
Power of 8 by 6 is : 262144

In [38]:
l=int(input("Please enter the value :"))
k=int(input("Please enter the value :"))

n=input("Enterthekeyword= {add, sub, mul, div, pow}:")
print("==============================")
if n=="add":
    print("add of",l,"by",k,"is:",l+k)
elif n=="sub":
    print("sub of",l,"by",k,"is:",l-k)
elif n=="mul":
    print("mul of",l,"by",k,"is:",l*k)
elif n=="div":
    print("div of",l,"by",k,"is:",l/k)
elif n=="pow":
    print("pow of",l,"by",k,"is:",l**k)
else:
    print("not valid")

Please enter the value :8
Please enter the value :6
Enterthekeyword= {add, sub, mul, div, pow}:pow
==============================
pow of 8 by 6 is: 262144

### Write a Python program that accepts a string and calculate the number of digits and letters.
- Input

    - Hello321Bye360
- Output

    - Digit - 6

    - Letter - 8

In [45]:
# CODE HERE
word = input("Enter the text: ")
d=0
l=0
for i in word:
    if i.isnumeric():
        d +=1
    else:
        l +=1
print("digit",d)
print("letter",l)

Enter the text: Hello321Bye360
digit 6
letter 8

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [48]:
# METHOD - 1
a=(1,2,3,4,5,6,7,8,9,10)
a1=(a[0:5])
a2=(a[5:])
print(a1)
print(a2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [57]:
# METHOD - 2
for i in range(0,5):
    print(a[i],end = ' ')
print()
for i in range(5,10):
    print(a[i],end = ' ')

1 2 3 4 5
6 7 8 9 10

In [53]:
# METHOD - 3
l1 = []
l2=[]

for i in range(0,5):
    l1.append(a[i])

for i in range(5,10):
    l2.append(a[i])

print(l1)
print(l2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [64]:
t=(1,2,3,4,5,6,7,8,9,10)
a=list(t)
l=[]
for i in a:
    if i%2==0:
        l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

### Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No"

In [65]:
text = input("Please type something. --> ")
if text=="yes" or text=="YES" or text=="Yes":
    print ("Yes")
else:
    print ("No")

Please type something. --> yEs
No

### Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [71]:
import random
l=[]
n=5
for i in range(n):
    l.append(random.randint(100,200))
print(l)

[195, 179, 171, 189, 191]

### Please generate a random float where the value is between 5 and 95 using Python module.

In [1]:
import random
print (random.random()*95-5)

80.05722803793232

In [2]:
import random
a=random.uniform(5,95)
print(a)

18.51555962107424

### [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
#### 1. from the above list print the uniques values
#### 2. count how many times each number exist
#### 3. Print the number which is occured more number of times

In [90]:
a= [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
b=set(a)
c=list(b)
c

[1, 3, 4, 5, 6, 7, 8]

In [93]:
print("repeated 1:",a.count(1))
print("repeated 3:",a.count(3))
print("repeated 4:",a.count(4))
print("repeated 5:",a.count(5))
print("repeated 6:",a.count(6))
print("repeated 7:",a.count(7))
print("repeated 8:",a.count(8))

repeated 1: 4
repeated 3: 2
repeated 4: 3
repeated 5: 1
repeated 6: 1
repeated 7: 1
repeated 8: 3

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)