In [1]:
# Write a python program to convert a string to lower case

In [4]:
s = "PRAVEEN"
s.lower()

'praveen'

In [ ]:
#Write a python program to convert only odd indexed characters to lower case
#Ex: PYTHON
#Output: - PyThOn

In [11]:
s = "PYTHON"
p=" "
for i in range(len(s)):
    if i%2==0:
        p= p+s[i].upper()
    else:
        p= p+s[i].lower()
print(p)

 PyThOn

In [16]:
#Write a python program to convert only even indexed characters to lower case
#Ex: PYTHON
#Output: - pYtHoN

In [12]:
s = "PYTHON"
p=" "
for i in range(len(s)):
    if i%2==0:
        p= p+s[i].lower()
    else:
        p= p+s[i].upper()
print(p)

 pYtHoN

In [17]:
#Write a python program to convert only odd indexed characters to upper case
#Ex: python
#Output: pYtHoN

In [22]:
s = "python"
p = " "
for i in range(len(s)):
    if i%2==0:
        p=p+s[i].lower()
    else:
        p=p+s[i].upper()
print(p)

 pYtHoN

In [58]:

#Write a python program where you have different variable which contains your name, gender, age, phone number, father’s name and mother’s name.And by using this variable create a variable named bio-data where you will use allthis variableEx: print(bio-data)
#Output:- My name is …., My age is ….,My phone-no is ….,my father’s name is …,and my mother’s name is…

In [59]:
Name = input("enter your name:")
age = int(input("enter your age:"))
Phone_number = int(input("enter your Phone number:"))
Father_name = input("enter your father's name:")
Mother_name = input("enter your Mother's name:")
bio = "My name is {0}, My age is {1}.,My phone-no is {2},my father’s name is {3}, and my mother’s name is {4}".format(Name,age,Phone_number,Father_name,Mother_name)
print(bio)

enter your name:sai praveen yerra
enter your age:24
enter your Phone number:9876543210
enter your father's name:ykvr
enter your Mother's name:yvvr
My name is sai praveen yerra, My age is 24.,My phone-no is 9876543210,my father’s name is ykvr, and my mother’s name is yvvr

In [48]:
#Write a python program to count how many times “@” occurred
#Ex: S@ndhy@
#Output: 2

In [53]:
a = "s@ndhy@"
a.count('@')

2

In [57]:
#Write a python program to get only names from the string Ex: “name1.@gmail.com, name2.@gmail.com, name#3.@gmail.com”
#Output-name1, name2, name3
user1="sai@gmail.com"
user2="praveen@gmail.com"
user3="yerra@gmail.com"
a=user1.split("@")
b=user2.split('@')
c=user3.split('@')
print(a[0],b[0],c[0])

sai praveen yerra

In [60]:
#Write a program to remove vowels from the entire alphabets
#Ex: “abcdefghijklmnopqrstuvwxyz”
#Output: “bcdfghjklmnpqrstvwxyz”

In [66]:
a = "abcdefghijklmnopqrstuvwxyz"
b = "aeiou"
output=" "
for i in a:
    if i not in b:
        output = output+i
print(output)

 bcdfghjklmnpqrstvwxyz

In [67]:
#Find all occurrences of a substring in a given string by ignoring the case
#Ex: str1 = "Welcome to Innomatics. innomatics awesome, isn't it?"
#Output: The innomatics count is:

In [72]:
str1 = "Welcome to Innomatics. innomatics awesome, isn't it?"
a = str1.lower()
a.count("innomatics")

2